<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<div class="user_question">
  <p> - Question : <%= @question %> </p>
</div>

<div class="coach_answer">
  <p> - Coach's answer : <%= @answer %> </p>
</div>

<div class="link">
  <%= link_to "Ask a new question", ask_path %>
</div>
